h1 {
  color: darkgrey;
  text-align: center;
}

#game {
  box-shadow: 10px 10px 15px gray;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(0deg, rgb(17, 51, 161) 0%, black 60%);
}
